<ul class="listagem-pokemon">
	<li class="cartao-pokemon">
		<div class="informacoes">
			<span>Armas</span>
		</div>

		<img src="/images/server/bulbasaur.gif" alt="Bulbasaur" class="gif" />

		<ul class="tipos">
			<li class="tipo grama">Adicionar</li>
			<li class="tipo grama">Editar</li>
			<li class="tipo grama">Excluir</li>
		</ul>
	</li>

	<li class="cartao-pokemon">
		<div class="informacoes">
			<span>Equipamentos</span>
		</div>

		<img src="/images/server/ivysaur.gif" alt="Ivysaur" class="gif" />

		<ul class="tipos">
			<li class="tipo grama">Adicionar</li>
			<li class="tipo grama">Editar</li>
			<li class="tipo grama">Excluir</li>
		</ul>
	</li>

	<li class="cartao-pokemon">
		<div class="informacoes">
			<span>Itens</span>
		</div>

		<img src="/images/server/venusaur.gif" alt="Venusaur" class="gif" />

		<ul class="tipos">
			<li class="tipo grama">Adicionar</li>
			<li class="tipo grama">Editar</li>
			<li class="tipo grama">Excluir</li>
		</ul>

	</li>

	<li class="cartao-pokemon">
		<div class="informacoes">
			<span>Charmander</span>
			<span>#004</span>
		</div>

		<img src="/images/server/charmander.gif" alt="Charmander" class="gif" />

		<ul class="tipos">
			<li class="tipo fogo">Fogo</li>
		</ul>

		<p class="descricao">Tem preferência por coisas quentes. Quando chove, diz-se que o vapor jorra da ponta de sua cauda.</p>
	</li>
</ul>