@using Microsoft.AspNetCore.Identity

@inject SignInManager<RPGUser> SignInManager
@inject UserManager<RPGUser> UserManager

<ul class="navbar-nav">
    @if (!SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link" id="register" asp-area="Identity" asp-page="/Account/Register">Cadastro</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
    else
    {
        
        <li class="nav-item">
            <ul class="container listagem">
                <a asp-area="Administrador" asp-controller="Usuario" asp-action="Index" class="gerenciar-usuarios btn btn-outline-dark">
                    Gerenciar Usuários
                </a>
                <li class="cartao-dashboard arma">
                    <div class="informacoes">
                        <span>Armas</span>
                    </div>
                    <img src="/images/dashboard/arma.gif" alt="Arma" class="gif" />
                </li>
                
                <li class="cartao-dashboard atributo">
                    <div class="informacoes">
                        <span>Atributos</span>
                    </div>
                    <img src="/images/dashboard/arma.gif" alt="Arma" class="gif" />
                </li>
                <li class="cartao-dashboard condicao">
                    <div class="informacoes">
                        <span>Condição</span>
                    </div>
                    <img src="/images/dashboard/arma.gif" alt="Arma" class="gif" />
                </li>
                <li class="cartao-dashboard equipamento">
                    <div class="informacoes">
                        <span>Equipamentos</span>
                    </div>
                    <img src="/images/dashboard/colete.gif" alt="Colete" class="gif" />
                </li>
                <li class="cartao-dashboard item">
                    <div class="informacoes">
                        <span>Itens</span>
                    </div>
                    <img src="/images/dashboard/barraca.gif" alt="Barraca" class="gif" />
                </li>
                <li class="cartao-dashboard personagem">
                    <div class="informacoes">
                        <span>Personagens</span>
                    </div>
                    <img src="/images/dashboard/personagens.gif" alt="Personagens" class="gif" />
                </li>
            </ul>
        </li>
    }
</ul>
