/* =====    Variáveis    ===== */
:root {
    --verde-claro: #00C47D;
    --verde-escuro: #008C59;
    --background-claro: #5e5b5bad;
    --background-escuro: #212121;
    --card-claro-background: #DBDBDB;
    --card-escuro-background: #000000;
    --texto-modo-claro: #333333;
    --texto-modo-escuro: #f5f5f5;
    --background-notificacao-sucesso: #C0FFC0;
    --texto-notificacao-sucesso: #004500;
    --background-notificacao-erro: #FFAEAE;
    --texto-notificacao-erro: ##880000;
    --background-botao-vermelho: #C90000;
}
/* =========================== */




/* =====  Scrollbar CSS  ===== */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: var(--background-claro);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--verde-escuro);
    border-radius: 10px;
    border: 3px solid #ffffff;
}
/* =========================== */




/* =====      Body      ===== */
body {
    font-family: "Aldrich", sans-serif;
    font-weight: 400;
    font-style: normal;

    max-width: 100%;
    margin: 0 auto;
    background-color: var(--background-claro);
    color: var(--texto-modo-claro);
}

    body.modo-escuro {
        background-color: var(--background-escuro);
        color: var(--texto-modo-escuro);
    }
/* =========================== */




/* =====     Header     ===== */
.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#centralizar {
    flex: 1;
    display: flex;
    justify-content: center;
}

#login-partial {
    align-self: flex-end;
}

.btn-sair {
    margin-left: 40px;
}

.header .logo,
.header .imagem-botao {
    width: 30px;
    transition: 0.2s ease-in-out;
}

    .header #botao-alterar-tema {
        background: none;
        border: none;
    }

    .header .logo:hover,
    .header .imagem-botao:hover,
    main .cartao-pokemon:hover {
        transform: scale(1.05);
        cursor: pointer;
    }
/* ========================== */




/* =====      Main      ===== */
main {
    padding: 40px;
}

    main .listagem-pokemon {
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        justify-content: center;
    }

    main .cartao-pokemon {
        background-color: #d8e3ec;
        width: 250px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        border-radius: 15px;
        transition: 0.2s ease-in-out;
    }

        main .cartao-pokemon:hover {
            background-color: #96d9d6;
        }

.modo-escuro .cartao-pokemon {
    background-color: #a8a8a8;
}

main .cartao-pokemon .informacoes {
    display: flex;
    justify-content: space-between;
    border: 1px solid #333333;
    border-radius: 10px;
}

    main .cartao-pokemon .informacoes span {
        padding: 7px;
        text-transform: uppercase;
        font-size: 17px;
    }

main .cartao-pokemon .gif {
    width: 100px;
    height: 100px;
}

main .cartao-pokemon .tipos {
    display: flex;
    gap: 15px;
    padding: 8px;
    border-radius: 10px;
}

.fogo {
    background-color: #ee8130;
}


main .descricao {
    max-height: 80px;
    overflow-y: scroll;
    font-size: 14px;
    padding-right: 10px;
}
/* ========================== */

/****************************************************************************************/
/****************************************************************************************/
/****************************************************************************************/
/****************************************************************************************/
/****************************************************************************************/
/****************************************************************************************/
/****************************************************************************************/
/****************************************************************************************/
/****************************************************************************************/








/* =====      Card      ===== */
.cartao-topo {
    background-color: var(--card-claro-background);
    color: var(--verde-escuro);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 695px;
    padding-top: 10px;
    height: 50px;
    border: 4px solid var(--verde-escuro);
    overflow: hidden;
    text-transform: uppercase;
}
    .cartao-topo.modo-escuro {
        background-color: var(--card-escuro-background);
        color: var(--verde-claro);
        border: 4px solid var(--verde-claro);
    }

.cartao-conteudo {
    background-color: var(--card-claro-background);
    color: var(--texto-modo-claro);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 695px;
    min-height: 350px;
    max-height: 570px;
    border: 4px solid var(--verde-escuro);
    overflow: hidden;
    margin-top: -4px;
    padding-top: 30px;
}

    .cartao-conteudo.modo-escuro {
        background-color: var(--card-escuro-background);
        color: var(--texto-modo-escuro);
        border: 4px solid var(--verde-claro);
    }

.cartao-titulo {
    font-size: 30px;
    font-weight: 400;
}

.label-login {
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
}
.input-login {
    font-size: 20px;
    font-weight: 300;
    margin: 10px;
}

.label-cadastro {
    font-size: 15px;
    font-weight: 300;
    text-align: left;
    padding-left: 40px;
    text-transform: uppercase;
}

.input-cadastro {
    font-size: 15px;
    font-weight: 300;
    margin: 10px;
}

.label-rec-senha {
    font-size: 20px;
    font-weight: 300;
    text-align: left;
    width: 100px;
    text-transform: uppercase;
}

.input-rec-senha {
    font-size: 20px;
    font-weight: 300;
    width: 450px;
    margin: 10px;
}

.botao-submit {
    background-color: var(--card-claro-background);
    color: var(--texto-modo-claro);
    padding: 3px;
    width: 224px;
    font-size: 20px;
    font-weight: 700;
    border: 4px solid var(--verde-escuro);
    overflow: hidden;
    margin-top: 30px;
    margin-bottom: 40px;
    text-transform: uppercase;
}
    .botao-submit:hover {
        transform: scale(1.05);
        transition: 0.3s all;
        background-color: var(--verde-escuro);
        color: var(--texto-modo-escuro);
    }

    .botao-submit:not(:hover) {
        transition: 0.3s all;
    }

.botao-submit.modo-escuro {
    background-color: var(--card-escuro-background);
    color: var(--texto-modo-escuro);
    padding: 3px;
    width: 224px;
    font-size: 20px;
    font-weight: 700;
    border: 4px solid var(--verde-claro);
    overflow: hidden;
}
        .botao-submit.modo-escuro:hover {
            transform: scale(1.05);
            transition: 0.3s all;
            background-color: var(--verde-claro);
            color: var(--texto-modo-claro);
        }

    .botao-submit.modo-escuro:not(:hover) {
        transition: 0.3s all;
    }

.container-botao {
    display: grid;
    place-items: center;
}

.cartao {
    display: grid;
    place-items: center;
}


#forgot-password, #resend-confirmation, .check-lembrar {
    padding-left: 40px;
    padding-right: 40px;
    font-size: 12px;
    font-weight: 200;
    text-align: center;
    text-decoration: underline;
    color: var(--verde-escuro);
}

#forgot-password.modo-escuro, #resend-confirmation.modo-escuro, .check-lembrar.modo-escuro {
    color: var(--verde-claro);
}

.check-lembrar {
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 50px;
    text-decoration: none;
    color: var(--texto-modo-claro);
}
    .check-lembrar.modo-escuro {
        color: var(--texto-modo-escuro);
    }

    .check-lembrar input {
        margin-right: 8px; 
    }

.form-check-input {
    background-color: white;
    border-color: var(--verde-escuro);
    border-width: 2px;
    color: white;
}
    .form-check-input:checked {
        background-color: var(--verde-claro);
        border-color: var(--verde-escuro);
        color: white;
    }
    .form-check-input:not(:checked) {
        background-color: white;
        border-color: var(--verde-escuro);
        border-width: 2px;
        color: white;
    }

.opcoes {
    display: flex;
    justify-content: space-between;
}


#forgot-password {
    order: 1;
}

#resend-confirmation {
    order: 2;
}

.msg-fora-card {
    padding-top: 35px;
    text-align: center;
}
    .msg-fora-card a {
        text-decoration: none;
        color: #008C59;
    }

        .msg-fora-card a:hover {
            text-decoration: none;
            color: #00794D;
        }

    .msg-fora-card.modo-escuro a {
        text-decoration: none;
        color: #00915C;
    }

        .msg-fora-card.modo-escuro a:hover {
            text-decoration: none;
            color: #00794D;
        }



.alerta {
    font-size: 10px;
    margin-top: 5px;
    padding-left: 245px;
    padding-right: 200px;
}

.alerta-login {
    font-size: 10px;
    margin-top: 5px;
    padding-left: 140px;
    padding-right: 200px;
}
/* ========================== */




.notificacao {
    font-size: 15px;
    width: 50%;
    margin: 0 auto;
    width: 695px;
    margin-bottom: 25px;
}

.menu-lateral-perfil {
    width: 18%;
}

.manage {
    display: flex;
    justify-content: space-between;
    margin-right: 0;
    flex-grow: 0;
}

.menu-lateral-perfil {
    order: 1;
    display: flex;
    flex-direction: column;
    min-height: 350px;
    max-height: 570px;
    flex-grow: 0;
    font-size: 16px;
    color: var(--texto-modo-claro);
    margin-left: 76px;
}

.perfil {
    order: 2;
    justify-content: left;
}

.item-menu-lateral {
    color: var(--texto-modo-claro);
    border-top: 2px solid var(--texto-modo-claro);
    padding-top: 16px;
    padding-bottom: 16px;
}

    .item-menu-lateral.active {
        background-color: var(--verde-escuro);
        border-left: 2px solid var(--texto-modo-claro);
        border-right: 2px solid var(--texto-modo-claro);
    }

#personal-data {
    margin-bottom: -16px;
    padding-bottom: 16px;
    border-bottom: 2px solid var(--texto-modo-claro);
}

#lista {
    list-style: none;
    margin-top: 49px;
}

#email-verification-button, #change-email-button {
    font-size: 12px;
    width: 230px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.formulario {
    width: 100%;
}

.delete-personal-data {
    text-decoration: none;
    text-align: center;
    border: 4px solid var(--background-botao-vermelho);
    margin-top: 0px;
}

    .delete-personal-data:hover {
        background-color: var(--background-botao-vermelho);
    }

#alerta-excluir-dados {
    font-size: 15px;
    padding-bottom: 0px;
}

#delete-personal-data-botao {
    font-size: 15px;
    width: 200px;
}