@page
@using ProjectRPG.Models
@model LoginModel

@{
    ViewData["Title"] = "Login";
}

@inject SignInManager<RPGUser> SignInManager

@if (!SignInManager.IsSignedIn(User))
{
    <div class="container cartao">
        <div id="cartao-topo" class="cartao-topo">
            <h2 class="cartao-titulo">ENTRAR</h2>
        </div>

        <div id="cartao-conteudo" class="cartao-conteudo">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                <label asp-for="Input.Email" class="col-3 label-login">E-MAIL</label>
                <input asp-for="Input.Email" class="col-8 input-login" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <span asp-validation-for="Input.Email" class="text-danger row alerta-login"></span>

                <label asp-for="Input.Password" class="col-3 label-login">SENHA</label>
                <input asp-for="Input.Password" class="col-8 input-login" autocomplete="current-password" aria-required="true" placeholder="password" />
                <span asp-validation-for="Input.Password" class="text-danger row alerta-login"></span>

                <label asp-for="Input.RememberMe" class="check-lembrar">
                    <input class="form-check-input" asp-for="Input.RememberMe" />
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>
                <div class="container opcoes">
                    <a id="forgot-password" asp-page="./ForgotPassword">Esqueci minha senha</a>
                    <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Reenviar e-mail de confirmação</a>
                </div>

                <div class="container container-botao">
                    <button type="submit" class="col-5 botao-submit">LOGIN</button>
                </div>
            </form>
        </div>
        <div class="col-2 msg-fora-card">
            <p>Não possui uma conta? Cadastre-se <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">aqui</a></p>
        </div>
    </div>
}
else
{
    if (User.IsInRole("Administrador"))
    {
        <script type="text/javascript">
            window.location.href = "/Administrador/Home/Index";
        </script>
    }
    else
    {
        <script type="text/javascript">
            window.location.href = "/Jogador/Home/Index";
        </script>
    }

}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
