@page
@using ProjectRPG.Models
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Reenviar e-mail de confirmação";
}

@inject SignInManager<RPGUser> SignInManager

@if (!SignInManager.IsSignedIn(User))
{
    <partial name="_StatusMessage" for="StatusMessage" />
    <div class="container cartao">
        <div class="cartao-topo">
            <h2 class="cartao-titulo">REENVIAR E-MAIL DE CONFIRMAÇÃO</h2>
        </div>

        <div class="cartao-conteudo">
            <form method="post">

                <label asp-for="Input.Email" class="label-rec-senha">E-MAIL</label>
                <input asp-for="Input.Email" class="input-rec-senha" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <span asp-validation-for="Input.Email" class="text-danger row alerta-login"></span>

                <div class="container-botao">
                    <button type="submit" class="col-5 botao-submit">Enviar e-mail de confirmação</button>
                </div>
            </form>
        </div>
        <div class="col-2 msg-fora-card">
            <p>Faça login <a asp-page="./Login">aqui</a></p>
        </div>
    </div>
}
else
{
    if (User.IsInRole("Administrador"))
    {
        <script type="text/javascript">
            window.location.href = "/Administrador/Home/Index";
        </script>
    }
    else
    {
        <script type="text/javascript">
            window.location.href = "/Jogador/Home/Index";
        </script>
    }

}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
