@model Personagem

@{
    ViewData["Title"] = "Criar Personagem";
}

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
    <div class="row">
        <div class="col-12 text-center">
                <h2 class="text-white py-2">Criar Personagem</h2>
        </div>
    </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row">
            <div class="border p-3">
                <label asp-for="Nome" class="ms-2"></label>
                <input asp-for="Nome" class="form-control border-0 shadow" />
                <span asp-validation-for="Nome" class="text-danger"></span>

                <label asp-for="Especie" class="ms-2"></label>
                <input asp-for="Especie" class="form-control border-0 shadow" />
                <span asp-validation-for="Especie" class="text-danger"></span>

                <label asp-for="PvTotal" class="ms-2"></label>
                <input asp-for="PvTotal" class="form-control border-0 shadow" />
                <span asp-validation-for="PvTotal" class="text-danger"></span>

                <label asp-for="PvAtual" class="ms-2"></label>
                <input asp-for="PvAtual" class="form-control border-0 shadow" />
                <span asp-validation-for="PvAtual" class="text-danger"></span>

                <label asp-for="Deslocamento" class="ms-2"></label>
                <input asp-for="Deslocamento" class="form-control border-0 shadow" />
                <span asp-validation-for="Deslocamento" class="text-danger"></span>

                <div class="row pt-2" style="margin-top: 25px;">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">Criar Personagem</button>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>




@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial"/>
    }
}