@page
@using ProjectRPG.Models
@model ChangePasswordModel
@{
    ViewData["Title"] = "Alterar senha";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

@inject UserManager<RPGUser> UserManager
@inject SignInManager<RPGUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <partial name="_StatusMessage" for="StatusMessage" />
    <div class="manage">
        <div class="menu-lateral-perfil">
            <partial name="_ManageNav" />
        </div>
        <div class="container cartao perfil">
            <div class="cartao-topo">
                <h2 class="cartao-titulo">@ViewData["Title"]</h2>
            </div>

            <div class="cartao-conteudo">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                    <label asp-for="Input.OldPassword" class="col-4 label-cadastro"></label>
                    <input asp-for="Input.OldPassword" class="col-7 input-cadastro" autocomplete="current-password" aria-required="true" placeholder="Por favor, digite sua senha atual." />
                    <span asp-validation-for="Input.OldPassword" class="text-danger alerta"></span>

                    <label asp-for="Input.NewPassword" class="col-4 label-cadastro"></label>
                    <input asp-for="Input.NewPassword" class="col-7 input-cadastro" autocomplete="new-password" aria-required="true" placeholder="Por favor, digite sua nova senha." />
                    <span asp-validation-for="Input.NewPassword" class="text-danger alerta"></span>

                    <label asp-for="Input.ConfirmPassword" class="col-4 label-cadastro"></label>
                    <input asp-for="Input.ConfirmPassword" class="col-7 input-cadastro" autocomplete="new-password" aria-required="true" placeholder="Por favor, confirme sua nova senha." />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger alerta"></span>


                    <div class="container-botao">
                        <button type="submit" class="col-5 botao-submit">Alterar senha</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

}
else
{
    <script type="text/javascript">
        window.location.href = "/Identity/Account/Login";
    </script>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}