@page
@using ProjectRPG.Models
@model DeletePersonalDataModel
@{
    ViewData["Title"] = "Excluir dados pessoais";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

@inject UserManager<RPGUser> UserManager
@inject SignInManager<RPGUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="container cartao">
        <div class="cartao-topo">
            <h2 class="cartao-titulo">@ViewData["Title"]</h2>
        </div>

        <div class="row cartao-conteudo">
            <div id="alerta-excluir-dados" class="col-10 alert alert-warning" role="alert">
                <p>
                    <strong>Excluir esses dados removerá permanentemente sua conta e ela não poderá ser recuperada.</strong>
                </p>
            </div>
            <form method="post" class="formulario">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                @if (Model.RequirePassword)
                {
                    <label asp-for="Input.Password" class="col-2 label-cadastro"></label>
                    <input asp-for="Input.Password" class="col-9 input-cadastro" autocomplete="Senha atual" aria-required="true" placeholder="Por favor, digite sua senha." />
                    <span asp-validation-for="Input.Password" class="text-danger alerta"></span>
                }
                <div class="container container-botao mt-3">
                    <button id="delete-personal-data-botao" type="submit" class="col-5 botao-submit delete-personal-data">Excluir dados e fechar minha conta</button>
                </div>
            </form>
        </div>
    </div>

}
else
{
    <script type="text/javascript">
        window.location.href = "/Identity/Account/Login";
    </script>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}