@page
@using ProjectRPG.Models
@model EmailModel
@{
    ViewData["Title"] = "Gerenciar e-mail";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

@inject UserManager<RPGUser> UserManager
@inject SignInManager<RPGUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <partial name="_StatusMessage" for="StatusMessage" />
    <div class="manage">
        <div class="menu-lateral-perfil">
            <partial name="_ManageNav" />
        </div>
        <div class="container cartao perfil">
            <div class="cartao-topo">
                <h2 class="cartao-titulo">@ViewData["Title"]</h2>
            </div>

            <div class="cartao-conteudo">
                <form method="post" class="formulario">
                    <div asp-validation-summary="All" class="text-danger" role="alert"></div>

                    @if (Model.IsEmailConfirmed)
                    {
                        <label asp-for="Email" class="col-4 label-cadastro"></label>
                        <input asp-for="Email" class="col-7 input-cadastro" placeholder="@UserManager.GetUserAsync(User).Result.Email" disabled />
                        <div class="input-group-append">
                            <span class="h-100 input-group-text text-success font-weight-bold">✓</span>
                        </div>
                    }
                    else
                    {
                        <label asp-for="Email" class="col-3 label-cadastro"></label>
                        <input asp-for="Email" class="col-8 input-cadastro" placeholder="@UserManager.GetUserAsync(User).Result.Email" disabled />
                        <div class="container container-botao">
                            <button id="email-verification-button" type="submit" asp-page-handler="SendVerificationEmail" class="col-5 botao-submit">Enviar e-mail de confirmação</button>
                        </div>
                    }

                    <label asp-for="Input.NewEmail" class="col-3 label-cadastro"></label>
                    <input asp-for="Input.NewEmail" class="col-8 input-cadastro" autocomplete="email" aria-required="true" placeholder="Por favor, insira um novo e-mail." />
                    <span asp-validation-for="Input.NewEmail" class="text-danger"></span>

                    <div class="container container-botao">
                        <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="col-5 botao-submit">Alterar e-mail</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

}
else
{
    <script type="text/javascript">
        window.location.href = "/Identity/Account/Login";
    </script>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}